<%- include('partials/header.ejs') %>

<h3>Edit placeholder</h3>

<div class="px-4 py-5 my-5 container">

  <% if(locals.note){ %>
    <form action="/edit" method="post">
          <div class="col-12">
            <input type="hidden" name="noteId" value="<%= note.id %>">
            <div class="col-12">
              <label for="updatedNote" class="form-label">Note:</label>
              <textarea class="form-control" name="updatedNote" id="updatedNote" rows="3"><%= note.note %></textarea>
            </div>
            <div class="col-12">
              <label for="user" class="form-label">User:</label>
              <input type="text" name="user" class="form-control" id="lastName" value="<%= note.fake_user %>" required="">
            </div>
          </div>
        <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Add Note</button>
      </form>
      <form action="/delete" method="post">
            <input type="hidden" name="noteId" value="<%= note.id %>">
        <button class="w-100 btn btn-danger btn-lg mt-4" type="submit">Delete</button>
      </form>
  <% }else{ %>

    <form action="/edit" method="post">
          <div class="col-12">
            <% if(locals.bookId){ %>
            <input type="hidden" name="bookId" value="<%= bookId %>">
            <% } %>
            <div class="col-12">
              <label for="newNote" class="form-label">Note:</label>
              <textarea class="form-control" name="newNote" placeholder="write note here" id="newNote" rows="3"></textarea>
            </div>
            <div class="col-12">
              <label for="user" class="form-label">User:</label>
              <input type="text" name="user" class="form-control" id="lastName" placeholder="Jean doe" required="">
            </div>
          </div>

        <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Add Note</button>
      </form>
      <form action="/delete" method="post">
            <input type="hidden" name="noteId" value="<%= bookId %>">
        <button class="w-100 btn btn-danger btn-lg mt-4" type="submit">Delete</button>
      </form>
      <% } %>
      
</div>
    
<%- include('partials/footer.ejs') %>